html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: Roboto;
  color: var(--basic-color);
  background-color: #fff;
  margin: 0 auto;
}

.button {
  cursor: pointer;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1400px;
  margin: 0 auto;
}

.section {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 470px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 758px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #e38ce8;
  min-width: 200px;
  min-height: 100%;
}

.mobile-menu__container {
  position: relative;
  padding: 8px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 8px;
  width: 10px;
  height: 10px;
  border-radius: 4px;
  padding: 5px;
  background-image: url(../../img/close.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.mobile-menu__content {
  padding-top: 20px;
}

.mobile-menu__list {
  position: relative;
}

.mobile-menu__item {
  text-align: center;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 8px;
}
.mobile-menu__item:hover a, .mobile-menu__item:focus a {
  color: rgb(28, 59, 59);
  background-color: rgba(255, 255, 255, 0.5411764706);
}
.mobile-menu__item:nth-child(4n+1) .mobile-menu__item-btn::before {
  background: #81ecec;
}
.mobile-menu__item:nth-child(4n+2) .mobile-menu__item-btn::before {
  background: #fd79a8;
}
.mobile-menu__item:nth-child(4n+3) .mobile-menu__item-btn::before {
  background: #55efc4;
}
.mobile-menu__item:nth-child(4n+4) .mobile-menu__item-btn::before {
  background: #ffeaa7;
}

.mobile-menu__item-btn {
  font-size: 15px;
  display: inline-flex;
  text-decoration: none;
  color: #000;
  transition: 250ms ease-in-out;
}
.mobile-menu__item-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 50px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7764705882);
  z-index: -1;
  opacity: 0;
  transition: letter-spacing 250ms, left 250ms;
}
.mobile-menu__item-btn:hover::before {
  content: attr(data-text);
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #363636;
  padding-top: 10px;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  text-decoration: underline;
  color: #c651cd;
  cursor: pointer;
}
.header__logo:hover {
  color: #e38ce8;
}

.logo__icon {
  fill: #c651cd;
}
.logo__icon:hover {
  fill: #e38ce8;
}

@media screen and (max-width: 779px) {
  .header__nav {
    display: none;
  }
  .menu-burger__icon {
    fill: #c651cd;
    cursor: pointer;
    transition: fill 250ms ease-in;
  }
  .menu-burger__icon:hover, .menu-burger__icon:focus {
    fill: #8b388f;
  }
  .header__nav-wrapper {
    display: none;
  }
}
@media screen and (min-width: 780px) {
  .menu-burger__icon {
    display: none;
  }
  .header__nav-wrapper {
    display: block;
  }
  .header__nav-list {
    display: flex;
    gap: 8px;
  }
  .header__nav-item {
    cursor: pointer;
  }
  .list__icon {
    fill: #c651cd;
  }
  .list__icon:hover {
    fill: #e38ce8;
  }
}
.main {
  flex: 1 1 auto;
  background-color: rgb(114, 112, 112);
  background-image: url(../img/background-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-form {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.main-form__label {
  display: flex;
  flex-direction: column;
}

.main-form__label-text {
  font-size: 15px;
}

.main-form__label-input {
  border: 1px solid;
  border-radius: 4px;
  padding-left: 5px;
  min-height: 20px;
  width: 50%;
  min-width: 100px;
}

.main-form__btn {
  min-width: 70px;
  height: 24px;
  border-radius: 4px;
  border: none;
  background-color: #8739f9;
}

.root__card {
  min-height: 200px;
  background: #363636;
  background: linear-gradient(158deg, rgb(54, 54, 54) 25%, rgb(113, 64, 107) 70%, rgb(182, 76, 170) 94%);
  width: 170px;
  padding: 15px;
  border-radius: 7px;
  color: aliceblue;
}

.root__card-title {
  font-size: 30px;
  text-align: center;
}

.root__card-about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.root__card-img {
  height: 70px;
}

.root__card-temp {
  font-size: 20px;
}

.root__card-description {
  font-style: italic;
}

.footer {
  background-color: #363636;
  min-height: 30px;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}/*# sourceMappingURL=index.css.map */