.header{
    background-color: #363636;
    padding-top: 10px;
}

.header__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    display: flex;
    text-decoration: underline;
    color: #c651cd;

    cursor: pointer;

    &:hover{
        color: #e38ce8;
    }
}
.logo__icon{
   fill: #c651cd;

   &:hover{
    fill: #e38ce8;
   }
}

 .list__icon {
     fill: #c651cd;

     &:hover {
         fill: #e38ce8;
     }
 }
@media screen and (max-width: 779px) {
    .header__nav{
        display: none;
    }

    .menu-burger__icon{
        fill: #c651cd;
        cursor: pointer;

        transition: fill 250ms ease-in;

        &:hover,
        &:focus{
            fill: #8b388f;
        }
    }

    .header__nav-wrapper{
        display: none;
    }
}

@media screen and (min-width: 780px){
    .menu-burger__icon{
        display: none;
    }

    .header__nav-wrapper{
        display: block;
    }

    .header__nav-list{
        display: flex;
        gap: 8px;
    
    }

    .header__nav-item{
        cursor: pointer;
    }

    // .list__icon{
    //     fill: #c651cd;

    //     &:hover{
    //         fill: #e38ce8;
    //     }
    // }
}

