.root__card {
    min-height: 200px;
    background: #363636;
    background: linear-gradient(158deg, rgba(54, 54, 54, 1) 25%, rgba(113, 64, 107, 1) 70%, rgba(182, 76, 170, 1) 94%);
    width: 170px;
    padding: 15px;

    border-radius: 7px;
    color: aliceblue;

}

.root__card-title {
    font-size: 30px;
    text-align: center;
}

.root__card-about{
    display: flex;
    align-items: center;
    justify-content: center;
}
.root__card-img {
    height: 70px;
}


.root__card-temp{
    font-size: 20px;
}

.root__card-description {
    font-style: italic;
}